<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/item">Menu</a></li>
              <li class="active"><a href="/customer">Customers</a></li>
              <li><a href="/employee">Employees</a></li>
              <li><a href="/ordersbyemployee">Orders by employee</a></li>
              <li><a href="/order">Orders</a></li>
              <li><a href="/orderDetails">Order details<span class="sr-only">(current)</span></a></li>
            </ul>
          </div>
        </div>
    </nav>

{{!-- The Data from our Database --}}

{{!-- Create a table --}}
<div class="table-responsive"> 
    <table class="table table-hover table-bordered" id="customers-table">

    {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>

    {{!-- Body section --}}
        <tbody>

        {{!-- For each row, print the customer_id, first_name, last_name, address and phone_number, in order --}}
        {{#each data}}
            <tr data-value={{this.customer_id}}>
                <td>{{this.customer_id}}</td>
                <td>{{this.first_name}}</td>
                <td>{{this.last_name}}</td>
                <td>{{this.address}}</td>
                <td>{{this.phone_number}}</td>
                <td><a data-toggle="modal" data-target="#editModal">Edit</a> &nbsp;&nbsp;&nbsp;&nbsp; <a data-toggle="modal" data-target="#deleteModal" onclick="deleteCustomer({{this.customer_id}})">Delete</a></td>

            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
<script src="./js/delete_customer.js"></script>


{{!-- Form to add a record to the table using AJAX --}}
<h2>Adding Customer</h2>
<p>To add a new customer, please enter their information below nad click `Submit`!</p>
<form id="add-customer-form" method="POST" action="/add-customer-form">
  <div class="form-group">
    <label for="input-first_name">First Name: </label>
    <input type="text" class="form-control" name="input-first_name" id="input-first_name">
    
    <label for="input-last_name">Last Name: </label>
    <input type="text" class="form-control" name="input-last_name" id="input-last_name">

    <label for="input-address">Address: </label>
    <input type="text" class="form-control" name="input-address" id="input-address">

    <label for="input-phone_number">Phone Number: </label>
    <input type="text" class="form-control" name="input-phone_number" id="input-phone_number">

    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>


<h2>Search Using an HTML Form</h2>
<p>Search by last name using the field below. Partial last names are OK too!</p>
<form id="search-customer-html" method='GET' action='/customer'>
    <label for="input-last_name">Search by Last Name: </label>
    <input type="text" name="last_name" id="input-last_name-html-search">
    
    <input type="submit">
    <a href='/customer'><button>Reset</button></a>
</form>



<div class='section'>
	<h2>Update customer</h2>
	<p>To update customer data select an owner name from the drop-down menu and
			input any new data.
    </p>
	<form id='update-customer' method='POST' action='/update-customer'>
		<table class='sub-table'>
			<tr>
				<td><label for='customer_id'>Select a customer: </label></td>
				<td><select
						name='customer_id'
						id='update_customer_select'
						onChange='formFill()'
						required
					>
						<option value='customer'>Select a customer</option>
						{{#each data}}
							<option value='{{this.customer_id}}'>{{this.first_name}} {{this.first_name}}</option>
						{{/each}}
					</select></td>
				<td>*Required</td>
			</tr>
			<tr>
				<td><label for='update_first_name'>First Name: </label></td>
				<td><input
						type='text'
						name='update_first_name'
						id='update_first_name'
						required
					/></td>
				<td>*Required</td>
			</tr>
			<tr>
				<td><label for='update_last_name'>Last Name: </label></td>
				<td><input
						type='text'
						name='update_last_name'
						id='update_last_name'
						required
					/></td>
				<td>*Required</td>
			</tr>
			<tr>
				<td><label for='update_address'>Address: </label></td>
				<td><input
						type='text'
						name='update_address'
						id='update_address'
						required
					/></td>
				<td>*Required</td>
			</tr>
            <tr>
				<td><label for='update_phone_number'>Phone Number: </label></td>
				<td><input
						type='text'
						name='update_phone_number'
						id='update_phone_number'
						required
					/></td>
				<td>*Required</td>
			</tr>
		</table>
		<div class='form-btns'>
			<input type='submit' value='Update' />
			<a href='/customer'><input type='button' value='Cancel' /></a>
		</div>
	</form>
</div>


<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="editModalLabel">Edit</h4>
        </div>
        <div class="modal-body">
              <div class="input-group">
                <span class="input-group-addon">customer_id</span>
                <input type="text" class="form-control">
              </div>
              <div class="input-group">
                <span class="input-group-addon">first_name</span>
                <input type="text" class="form-control">
              </div>
              <div class="input-group">
                <span class="input-group-addon">last_name</span>
                <input type="text" class="form-control">
              </div>
              <div class="input-group">
                <span class="input-group-addon">address</span>
                <input type="text" class="form-control">
              </div>
              <div class="input-group">
                <span class="input-group-addon">phone_number</span>
                <input type="text" class="form-control">
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Yes</button>
          <button type="button" class="btn" data-dismiss="modal">close</button>
        </div>
      </div>
    </div>
  </div>